In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

import tensorflow as tf
from tensorflow import keras
from keras import metrics


from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
x_train = np.load('207_data/saved_data/x_train_3500_balanced.npy')
y_train = np.load('207_data/saved_data/y_train_3500_balanced.npy')

In [3]:
x_train = np.reshape(x_train/255, (331240000, 3))
y_train = y_train.flatten()

In [19]:
tf.keras.backend.clear_session()
tf.random.set_seed(0)

model = tf.keras.Sequential()

model.add(tf.keras.layers.Dense(
      units=1,                     # output dim
      input_shape=[3, ],  # input dim
      use_bias=True,               # use a bias (intercept) param
      kernel_initializer=tf.ones_initializer,  # initialize params to 1
      bias_initializer=tf.ones_initializer,    # initialize bias to 1
))

optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)

model.compile(loss='mse', optimizer=optimizer)

In [20]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 1000,
  epochs = 5
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/5
298116/298116 [==============================] - 273s 811us/step - loss: 782.8646 - val_loss: 665.5745
Epoch 2/5
298116/298116 [==============================] - 223s 749us/step - loss: 715.5324 - val_loss: 665.0290
Epoch 3/5
298116/298116 [==============================] - 220s 738us/step - loss: 714.9691 - val_loss: 664.7670
Epoch 4/5
298116/298116 [==============================] - 209s 702us/step - loss: 714.7817 - val_loss: 664.6130
Epoch 5/5
298116/298116 [==============================] - 209s 702us/step - loss: 714.6171 - val_loss: 664.6484

         loss    val_loss
0  736.708435  665.574463
1  717.202881  665.028992
2  716.771851  664.766968
3  716.576660  664.612976
4  716.507324  664.648376

Wall time: 19min 27s

In [7]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 500,
  epochs = 4
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/4
596232/596232 [==============================] - 676s 1ms/step - loss: 715.6182 - val_loss: 664.5818
Epoch 2/4
596232/596232 [==============================] - 605s 1ms/step - loss: 715.5630 - val_loss: 664.5900
Epoch 3/4
596232/596232 [==============================] - 593s 994us/step - loss: 715.5612 - val_loss: 664.6179
Epoch 4/4
596232/596232 [==============================] - 588s 987us/step - loss: 715.5619 - val_loss: 664.5395

         loss    val_loss
0  715.618225  664.581848
1  715.563049  664.589966
2  715.561218  664.617859
3  715.561890  664.539490

Wall time: 41min 58s

In [4]:
tf.keras.backend.clear_session()
tf.random.set_seed(0)

model = tf.keras.Sequential()

model.add(tf.keras.layers.Dense(
      units=1,                     # output dim
      input_shape=[3, ],  # input dim
      use_bias=True,               # use a bias (intercept) param
      kernel_initializer=tf.ones_initializer,  # initialize params to 1
      bias_initializer=tf.ones_initializer,    # initialize bias to 1
))

optimizer = tf.keras.optimizers.Adam(learning_rate=0.01)

model.compile(loss='mse', optimizer=optimizer)

In [5]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 1000,
  epochs = 5
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/5
298116/298116 [==============================] - 288s 856us/step - loss: 728.7706 - val_loss: 664.5154
Epoch 2/5
298116/298116 [==============================] - 211s 707us/step - loss: 714.6126 - val_loss: 664.4692
Epoch 3/5
298116/298116 [==============================] - 209s 701us/step - loss: 714.5714 - val_loss: 665.0229
Epoch 4/5
298116/298116 [==============================] - 207s 694us/step - loss: 714.6198 - val_loss: 664.5200
Epoch 5/5
298116/298116 [==============================] - 198s 665us/step - loss: 714.5552 - val_loss: 664.7070

         loss    val_loss
0  719.187439  664.515442
1  716.452881  664.469238
2  716.439331  665.022949
3  716.442688  664.520020
4  716.454224  664.706970

Wall time: 19min 7s

In [9]:
tf.keras.backend.clear_session()
tf.random.set_seed(0)

model = tf.keras.Sequential()

model.add(tf.keras.layers.Dense(
      units=1,                     # output dim
      input_shape=[3, ],  # input dim
      use_bias=True,               # use a bias (intercept) param
      kernel_initializer=tf.ones_initializer,  # initialize params to 1
      bias_initializer=tf.ones_initializer,    # initialize bias to 1
))

optimizer = tf.keras.optimizers.Adam(learning_rate=0.0001)

model.compile(loss='mse', optimizer=optimizer)

In [10]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 1000,
  epochs = 5
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/5
298116/298116 [==============================] - 270s 796us/step - loss: 973.0282 - val_loss: 702.5196
Epoch 2/5
298116/298116 [==============================] - 212s 712us/step - loss: 747.1490 - val_loss: 681.2690
Epoch 3/5
298116/298116 [==============================] - 217s 727us/step - loss: 729.5161 - val_loss: 671.8822
Epoch 4/5
298116/298116 [==============================] - 202s 676us/step - loss: 721.6793 - val_loss: 668.0873
Epoch 5/5
298116/298116 [==============================] - 194s 651us/step - loss: 718.3319 - val_loss: 666.6896

         loss    val_loss
0  850.216309  702.519592
1  743.618530  681.269043
2  728.929749  671.882202
3  722.501038  668.087341
4  719.804443  666.689636

Wall time: 18min 55s

In [6]:
tf.keras.backend.clear_session()
tf.random.set_seed(0)

model = tf.keras.Sequential()

model.add(tf.keras.layers.Dense(
      units=1,                     # output dim
      input_shape=[3, ],  # input dim
      use_bias=True,               # use a bias (intercept) param
      kernel_initializer=tf.ones_initializer,  # initialize params to 1
      bias_initializer=tf.ones_initializer,    # initialize bias to 1
))

optimizer = tf.keras.optimizers.SGD(learning_rate=0.001)

model.compile(loss='mse', optimizer=optimizer)

In [7]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 1000,
  epochs = 5
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/5
298116/298116 [==============================] - 268s 790us/step - loss: 733.1064 - val_loss: 665.2596
Epoch 2/5
298116/298116 [==============================] - 204s 686us/step - loss: 715.1746 - val_loss: 664.7521
Epoch 3/5
298116/298116 [==============================] - 207s 695us/step - loss: 714.7203 - val_loss: 664.6592
Epoch 4/5
298116/298116 [==============================] - 196s 658us/step - loss: 714.6503 - val_loss: 664.5413
Epoch 5/5
298116/298116 [==============================] - 186s 624us/step - loss: 714.5554 - val_loss: 664.6319

         loss    val_loss
0  722.240906  665.259583
1  716.867126  664.752075
2  716.550720  664.659180
3  716.464905  664.541321
4  716.454468  664.631897

Wall time: 18min 24s

In [8]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 750,
  epochs = 5
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/5
397488/397488 [==============================] - 476s 1ms/step - loss: 713.1429 - val_loss: 664.5854
Epoch 2/5
397488/397488 [==============================] - 407s 1ms/step - loss: 713.1369 - val_loss: 664.5798
Epoch 3/5
397488/397488 [==============================] - 409s 1ms/step - loss: 713.1405 - val_loss: 664.6474
Epoch 4/5
397488/397488 [==============================] - 397s 1000us/step - loss: 713.1459 - val_loss: 664.5449
Epoch 5/5
397488/397488 [==============================] - 385s 967us/step - loss: 713.1429 - val_loss: 664.6412

         loss    val_loss
0  713.142944  664.585388
1  713.136902  664.579834
2  713.140503  664.647400
3  713.145935  664.544861
4  713.142944  664.641174

Wall time: 35min 18s

In [16]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 1000,
  epochs = 5
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/5
298116/298116 [==============================] - 252s 748us/step - loss: 716.4370 - val_loss: 664.5810
Epoch 2/5
298116/298116 [==============================] - 195s 653us/step - loss: 716.4355 - val_loss: 664.5909
Epoch 3/5
298116/298116 [==============================] - 197s 662us/step - loss: 716.4254 - val_loss: 664.6243
Epoch 4/5
298116/298116 [==============================] - 195s 654us/step - loss: 716.4287 - val_loss: 664.5421
Epoch 5/5
298116/298116 [==============================] - 189s 634us/step - loss: 716.4455 - val_loss: 664.6324

         loss    val_loss
0  716.437012  664.580994
1  716.435547  664.590881
2  716.425354  664.624329
3  716.428711  664.542114
4  716.445496  664.632446

Wall time: 17min 55s

In [17]:
tf.keras.backend.clear_session()
tf.random.set_seed(0)

model = tf.keras.Sequential()

model.add(tf.keras.layers.Dense(
      units=1,                     # output dim
      input_shape=[3, ],  # input dim
      use_bias=True,               # use a bias (intercept) param
      kernel_initializer=tf.ones_initializer,  # initialize params to 1
      bias_initializer=tf.ones_initializer,    # initialize bias to 1
))

optimizer = tf.keras.optimizers.SGD(learning_rate=0.0001)

model.compile(loss='mse', optimizer=optimizer)

In [18]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 1000,
  epochs = 5
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/5
298116/298116 [==============================] - 253s 752us/step - loss: 787.9128 - val_loss: 677.6419
Epoch 2/5
298116/298116 [==============================] - 208s 696us/step - loss: 725.4750 - val_loss: 668.5673
Epoch 3/5
298116/298116 [==============================] - 207s 695us/step - loss: 718.5300 - val_loss: 666.5287
Epoch 4/5
298116/298116 [==============================] - 204s 685us/step - loss: 716.8142 - val_loss: 666.0115
Epoch 5/5
298116/298116 [==============================] - 192s 644us/step - loss: 716.1997 - val_loss: 665.8743

         loss    val_loss
0  753.713257  677.641907
1  724.862244  668.567261
2  719.796143  666.528748
3  718.471863  666.011475
4  718.026428  665.874329

Wall time: 18min 25s

In [12]:
x_test = np.load('207_data/saved_data/x_test_1500_balanced.npy')
x_test = np.reshape(x_test/255, (141960000, 3))
y_test = np.load('207_data/saved_data/y_test_1500_balanced.npy').flatten()

In [13]:
tf.keras.backend.clear_session()
tf.random.set_seed(0)

model = tf.keras.Sequential()

model.add(tf.keras.layers.Dense(
      units=1,                     # output dim
      input_shape=[3, ],  # input dim
      use_bias=True,               # use a bias (intercept) param
      kernel_initializer=tf.ones_initializer,  # initialize params to 1
      bias_initializer=tf.ones_initializer,    # initialize bias to 1
))

optimizer = tf.keras.optimizers.Adam(learning_rate=0.01)

model.compile(loss='mse', optimizer=optimizer)

In [14]:
%%time

history = model.fit(
  x = x_train,
  y = y_train,
  validation_split=0.1,  # use 10% of the examples as a validation set
  batch_size = 1000,
  epochs = 5
)

history = pd.DataFrame(history.history)
display(history)

Epoch 1/5
298116/298116 [==============================] - 264s 781us/step - loss: 728.7706 - val_loss: 664.5154
Epoch 2/5
298116/298116 [==============================] - 200s 670us/step - loss: 714.6126 - val_loss: 664.4692
Epoch 3/5
298116/298116 [==============================] - 203s 680us/step - loss: 714.5714 - val_loss: 665.0229
Epoch 4/5
298116/298116 [==============================] - 221s 743us/step - loss: 714.6198 - val_loss: 664.5200
Epoch 5/5
298116/298116 [==============================] - 195s 654us/step - loss: 714.5552 - val_loss: 664.7070

         loss    val_loss
0  719.187439  664.515442
1  716.452881  664.469238
2  716.439331  665.022949
3  716.442688  664.520020
4  716.454224  664.706970

Wall time: 18min 56s

In [16]:
# calculate mse

def calculate_mse(y_pred, y_true):

    mse = np.array([])

    y_pred_im = np.reshape(y_pred, (y_true.shape[0], 94640))
    y_true_im = np.reshape(y_true,  (y_true.shape[0], 94640))

    for i in range(y_pred_im.shape[0]):

        image_pred = y_pred_im[i]
        image_true = y_true_im[i]
        diff = np.subtract(image_true, image_pred)
        se = np.square(diff)
        mse_im = np.average(se)

        mse = np.append(mse, mse_im)
    
    mse_overall = np.average(mse)
    return mse_overall

In [17]:
# calculate mae 

def calculate_mae(y_pred, y_true):

    mae = np.array([])

    y_pred_im = np.reshape(y_pred, (y_true.shape[0], 94640))
    y_true_im = np.reshape(y_true,  (y_true.shape[0], 94640))

    for i in range(y_pred_im.shape[0]):

        image_pred = y_pred_im[i]
        image_true = y_true_im[i]

        mae_for_image = np.average(np.abs(np.subtract(image_true, image_pred)))

    mae = np.append(mae, mae_for_image)

    mae_overall = np.average(mae)

    return mae_overall

In [18]:
# calculate r2

def calculate_r2(y_pred, y_true):

    r2_overall = r2_score(y_true, y_pred)
    
    return r2_overall

In [19]:
y_train_as_im = np.load('207_data/saved_data/y_train_3500_balanced.npy')
y_test_as_im = np.load('207_data/saved_data/y_test_1500_balanced.npy')

In [20]:
y_pred = model.predict(x_train)

mse = calculate_mse(y_pred, y_train_as_im)
rmse = np.sqrt(mse)
mae = calculate_mae(y_pred, y_train_as_im)
r2 = calculate_r2(y_pred, y_train)

print("Training MSE", mse)
print("Training RMSE: ", rmse)
print("Training MAE: ", mae)
print("Training R2: ", r2)

Training MSE 708.4352169378852
Training RMSE:  26.6164463619373
Training MAE:  10.564956079180323
Training R2:  0.3915841896408623

In [22]:
y_pred_ts = model.predict(x_test)

mse = calculate_mse(y_pred_ts, y_test_as_im)
rmse = np.sqrt(mse)
mae = calculate_mae(y_pred_ts, y_test_as_im)
r2 = calculate_r2(y_pred_ts, y_test)

print("Testing MSE", mse)
print("Testing RMSE: ", rmse)
print("Testing MAE: ", mae)
print("Testing R2: ", r2)

Testing MSE 669.0731135799236
Testing RMSE:  25.866447641296315
Testing MAE:  13.18406657281057
Testing R2:  0.3980704267665156